:root {
    --main-color: #f0f0f0;
    --main-bg-color: #221f1f;
    --main-font-family: system-ui;
    --main-font-size: 18px;
    --gray-light: gray;
    --pre-bg: #24292e;
}

* {
    color: var(--main-color);
    margin: 0;
    /* padding: 0; */
}

/* --------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5em 0;
    font-weight: normal;
}
h1 {
	font-size: 2.5em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.2em;
}
h5 {
	font-size: 1em;
}
p {
	margin-bottom: 1em;
}
.prose p {
	margin-bottom: 2em;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	/* border-radius: 8px; */
}
code {
	padding: 2px 5px;
	background-color: var(--pre-bg);
    color: #e4f7ec;
}
pre {
	padding: 10px;
    background-color: var(--pre-bg);
    margin-bottom: 20px;
}
pre > code {
	all: unset;
}
blockquote {
	padding: 0 0 0 20px;
	font-style: oblique;
}
hr {
	border: none;
	border-top: 1px solid var(--gray-light);
    margin: 20px 0;
}


/* --------------------------- */

html {
    height: 100%;
    background-color: var(--main-bg-color);
    color: var(--main-color);
    font-family: var(--main-font-family);
    word-break: break-all;
    overflow-y: scroll;
    font-size: var(--main-font-size);
}

html.light {
    --buf: var(--main-bg-color);
    --main-bg-color: var(--main-color);
    --main-color: var(--buf);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0 2em;
    height: 100%;
}

.main {
    width: 700px;
    max-width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

svg {
    fill: var(--main-color);
}

/* как подружить со светлой темой? */
@property --color-gradient {
    syntax: '<color>';
    initial-value: #f0f0f0;
    inherits: false;
}

html:not(.light) .onhover-gradient-text {
    display: inline-block;
    /* background-color: #ff0000; */
    background-image: linear-gradient(135deg, var(--main-color), var(--color-gradient));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: --color-gradient 400ms;

}

html:not(.light) .onhover-gradient-text:hover {
    display: inline-block;
    --color-gradient: #777777;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
